*,
*::after,
*::before {
    box-sizing: border-box;
}

.container{
    width: 1280px;
    margin: 0 auto;
}
  
.link {
    margin-bottom: 38px;
    margin-top: 61px;
    font-size: 80px;
    line-height: 94px;
    display: inline-block;
    vertical-align: middle;
}

.blue-color {
    color:dodgerblue;
}
.main-menu {
    display: flex;
    justify-content: center;
}
.main-menu__item {
    border: 1px groove white;
    background-color: #35444F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.main-menu__link{
    font-size: 24px;
    color: #FFFFFF;
}
.link1{
    padding: 26px 33px 19px 32px;
    margin-left:194px;
    border-left:1px solid white;
}
.link2{
    padding-left: 37px;
    padding-right: 38px;
}
.link3{
    padding-left: 40px;
    padding-right: 40px;
}
.link4{
    padding-left: 40px;
    padding-right: 160px;
}
.main-menu__item:hover {
    background-color: #1b1c1d;
}

.flex-item{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;

}
.side{
    display: flex;
    width: 344px;
    border: 1px groove #485863;
    margin-right: 53px;
}
.side-menu__item {
   padding:26px 44px;
    width: 342px;
    height: 81px;
}
.side-menu__item:hover {
    background-color: #b6acac;
    padding-left: 60px;
}
.side-menu__link{
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}
.side-menu__link:hover{
    color: #000;
}

.picture {
    width: 885px;
    height: 529px;
    border: 1px solid #373737;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}
.picture_item{
    transition: 1s
}
.picture_item:hover{
    transform: scale(1.2);
}
.text-content{
    display: inline-block;
}
.content {
    font-size: 18px;
    margin-bottom: 34px;
    margin-left: 396px;
}


.footer-menu{
    width: 1280px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border: 1px groove white;
    background: rgba(99, 105, 110, 0.48);}


.footer-menu__link{
    font-size: 28px;
    color: #0C1927;
}
.footer-menu__link:hover{
    color: #639ad9;
    text-decoration:underline ;
}
.copiright{
    margin-left: 82px;
    font-size: 28px;
    color: #0C1927;
}
